.post {
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid var(--twitter-background);
    padding-bottom: 10px;
}

.post--avatar {
    padding: 20px;
}

.post--headerText h3 {
    font-size: 15px;
    margin-bottom: 5px;
}

.post--headerDescription {
    margin-bottom: 10px;
    font-size: 15px;
}

.post--body {
    flex: 1;
    padding: 10px;
}

.post--body img {
    border-radius: 20px;
    /* width: 100%; */
}

.post--footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.post--badge {
    font-size: 14px !important;
    color: var(--twitter-color) !important;
}

.post--headerSpecial {
    color: gray;
    font-size: 12px;
    font-weight: 600;
}

@media (max-width: 1024px) {
    .post {
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        margin: 20px auto;
        padding: 20px;
        width: 100%;
    }

    .post--body img {
        width: 100%;
    }
}